ion-view(title='Tabs Controller')
  ion-tabs.tabs-icon-top
    ion-tab(
    title='Orders'
    icon-on='ion-ios-bell'
    icon-off='ion-ios-bell-outline'
    badge='badges.new'
    badge-style='badge-assertive'
    href='#/tab/orders')
      ion-nav-view(name='order_tab')

    ion-tab(
    title='Account'
    icon-on='ion-ios-person'
    icon-off='ion-ios-person-outline'
    href='#/tab/account')
      ion-nav-view(name='account_tab')

